#Discord
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

#GroupMe
GROUPME_BOT_ID=
GROUPME_ACCESS_TOKEN=

# Persistent data directory
# Leave unset locally unless you want a separate data folder.
DATA_DIR=

PORT=